.productsHeading {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-xl);
}

.newProducts {
  background-color: var(--light);
  border-radius: var(--br-xl);
  display: flex;
  gap: var(--space-lg);
  margin: var(--space-md);
  overflow-x: scroll;
  padding: var(--space-md);
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}

.newProducts::-webkit-scrollbar {
  width: 3px;
}

.newProducts:hover.newProducts::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--br-full);
}
