.newItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  text-align: center;
  width: 100px;
}

.newItemImage {
  border-radius: var(--br-md);
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buyBtn {
  margin-top: auto;
}
