.productsHeading {
  display: flex;
  justify-content: center;
  margin: 0 auto var(--space-lg);
  width: 100%;
}

.productsAndPrice {
  display: flex;
  gap: var(--space-md);
  width: 100%;
}

.myProducts {
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

.priceDetails {
  border-radius: var(--br-xl);
  height: 100%;
  width: 100%;
  max-width: 250px;
}

.cardCaption {
  text-align: center;
  width: 100%;
}

.shareCartBtn {
  margin: var(--space-lg) 0;
  width: 100%;
}

.shareCartBtn > img {
  margin-right: var(--space-xs);
}

.emptyCartMsg {
  color: var(--grey-5);
  font-size: var(--fs-md-2);
  font-weight: var(--fw-5);
  margin-bottom: var(--space-md);
  text-align: center;
}

.emptyCartMsgWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 930px) {
  .productsAndPrice {
    flex-direction: column;
  }

  .priceDetails {
    margin: auto;
    max-width: 400px;
  }
}
