.sidebar {
  background-color: var(--secondary-theme-background);
  height: calc(100vh - 80px);
  left: 0;
  overflow-y: scroll;
  padding: 0 var(--space-lg) var(--space-lg);
  position: sticky;
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
  top: 80px;
  width: 320px;
}

.sidebar::-webkit-scrollbar {
  border-radius: var(--br-full);
  width: 3px;
}

.sidebar:hover.carousel::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--br-full);
}

.productsPage {
  width: 100%;
}

.productsWrapper {
  display: flex;
  margin: 40px auto;
  max-width: 1536px;
  width: 100%;
}

.mainBody {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 var(--space-lg);
  width: 100%;
}

.filtersBtn {
  background-color: #1b1c1c;
  border-radius: 0;
  bottom: 0;
  display: none;
  font-size: var(--fs-md-2);
  left: 0;
  padding: var(--space-sm) 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .sidebar {
    top: 113px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  .openSidebar {
    display: initial;
  }

  .filtersBtn {
    display: initial;
  }
}

@media screen and (max-width: 640px) {
  .mainBody {
    margin: 0 var(--space-xs);
  }
}

@media screen and (max-width: 480px) {
  .mainBody {
    margin: 0 var(--space-xs);
  }
}
