.nav {
  align-items: center;
  border-bottom: 1px solid var(--grey-1);
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-sm);
  margin: auto;
  width: 100%;
}

.navBtn {
  background-color: white;
  border: none;
  border-bottom: 2px solid white;
  border-left: 1px solid var(--grey-1);
  cursor: pointer;
  font-size: var(--fs-sm-1);
  padding: var(--space-xs) var(--space-lg);
  text-transform: uppercase;
  transition: box-shadow, border 0.2s ease-in;
}

.navBtn:last-child {
  border-right: 1px solid var(--grey-1);
}

.navBtn:hover {
  border-bottom-color: var(--dark);
  box-shadow: var(--bs-xs);
}

.activeNavBtn {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 640px) {
  .navBtn {
    font-size: var(--fs-xs-1);
    padding: var(--space-xxs) var(--space-xs);
  }
}
