.productsHeading {
  display: flex;
  justify-content: center;
  margin: 0 auto var(--space-lg);
  width: 100%;
}

.wishlistItems {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  justify-content: center;
  margin-top: var(--space-xl);
}

.emptyWishlistMsg {
  color: var(--grey-5);
  font-size: var(--fs-md-2);
  font-weight: var(--fw-5);
  margin-bottom: var(--space-md);
  text-align: center;
}

.emptyWishlistMsgWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
