.modalContainer {
  display: flex;
  overflow: hidden;
  z-index: 2;
}

.rememberMeContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.forgetPassword {
  background-color: initial;
  border: none;
  cursor: pointer;
}

.guestLogin {
  margin-right: auto;
}
