.input {
  display: none;
}

.categoryName {
  align-items: center;
  background-color: var(--light);
  border-radius: var(--br-xs);
  border: 1px solid var(--blue-2);
  cursor: pointer;
  display: flex;
  font-size: var(--fs-xxs-2);
  gap: var(--space-xxs);
  margin: var(--space-xxxs) 0;
  padding: var(--space-xs) var(--space-sm);
  text-transform: capitalize;
  transition: 0.2s ease-in;
}

.categoryName:first-child {
  margin-top: 0;
}

.categoryName:last-child {
  margin-bottom: 0;
}

.selected {
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: var(--bs-xs);
  color: white;
}
