.sidebarItemTitle {
  margin: 0;
}

.checkbox {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.fieldset {
  border-radius: var(--br-xs);
  border: 1px solid var(--grey-1);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  padding: var(--space-sm);
  width: 100%;
}
