.header {
  align-items: center;
  background-color: var(--secondary-theme-background);
  color: var(--primary-theme-color);
  display: flex;
  gap: var(--space-md);
  left: 0;
  padding: var(--space-sm) 10%;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.headerItem {
  align-items: center;
  display: flex;
}

.headerLogo {
  display: flex;
  flex-shrink: 0;
}

.headerItemLogo {
  flex-shrink: 0;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.brandname {
  background-color: initial;
  border: none;
  color: var(--primary-theme-color);
  cursor: pointer;
}

.primaryFont {
  color: var(--primary);
  font-weight: var(--fw-3);
}

.headerButtonWrapper {
  background-color: var(--light);
  border-radius: var(--br-sm);
  display: flex;
  margin-left: var(--space-sm);
}

.navbarBtn {
  border-radius: var(--br-sm);
  padding: var(--space-xxs) var(--space-xs);
  text-transform: uppercase;
}

.headerItemSearch {
  margin: 0 0 0 auto;
}

.headerItemSearch .search {
  border-radius: var(--br-sm);
  border: none;
}

.headerItemSearch .search:focus {
  border: none;
  outline: none;
}

.headerMenuWrapper {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 0 0 0 auto;
  padding-left: 0;
}

.headerMenuItem {
  background-color: initial;
  border-radius: var(--br-full);
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 1rem;
  width: fit-content;
  font-size: var(--fs-xs-1);
  display: flex;
  align-items: center;
  gap: var(--space-xxxs);
  transition: background-color 0.2s ease-in;
}

.headerMenuItem:hover {
  background-color: var(--light);
}

.btnLogin {
  background-color: initial;
  border: none;
}

.btnLogin:hover {
  background-color: var(--light);
}

.themeSwitcher {
  margin: 0 var(--space-xs);
  padding: 0;
}

.themeSwitcher:hover {
  background-color: initial;
  transform: rotate(360deg);
  transition: 0.3s ease-in-out;
}

.themeSwitcher > img {
  height: 20px;
  width: 20px;
}

.profileBadge {
  align-items: center;
  background-color: var(--primary);
  border-radius: var(--br-full);
  box-shadow: var(--bs-xs);
  color: white;
  display: flex;
  font-size: var(--fs-xs-2);
  gap: var(--space-xxxs);
  justify-content: flex-start;
  margin: auto 1rem;
  max-width: 120px;
  padding: var(--space-xxs) var(--space-xs);
  width: fit-content;
}

.profileBadge > p {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  font-size: var(--fs-xxs-2);
  padding: 0px 5px;
  left: 22px;
  top: -5px;
  min-width: 14px;
  border: 2px solid white;
  font-weight: var(--fw-7);
  width: fit-content;
}

.searchInput {
  margin: 0;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .headerMenuList {
    padding: 0;
  }

  .header {
    flex-wrap: wrap;
    gap: var(--space-xxs);
    padding: var(--space-xs) var(--space-xs);
  }

  .headerItemSearch {
    margin-left: 0;
    width: 220px;
  }

  .headerMenuList {
    padding: 0;
  }
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 1024px) {
  .headerItemSearch {
    order: 4;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .headerItemSearch {
    order: 4;
    width: 100%;
  }

  .headerButtonWrapper {
    display: none;
  }

  .optionText {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  div.headerItem:nth-child(3) {
    margin-left: 0;
    width: 100%;
  }

  .headerMenuItem {
    height: 35px;
    width: 35px;
  }

  .logo {
    height: 30px;
    width: 30px;
  }

  .brandname {
    font-size: var(--fs-md-2);
  }
}
