.products_heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--space-xl);
}

.main_products {
  column-gap: var(--space-md);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: var(--space-md);
  row-gap: var(--space-xl);
}

.featuredGamesWrapper {
  width: 100%;
}

.showingProductsCaption {
  color: var(--grey-5);
  font-size: var(--fs-xs-1);
  margin: auto auto auto var(--space-sm);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 640px) {
  .main_products {
    gap: var(--space-sm);
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .products_heading {
    margin-top: 0;
  }

  .showingProductsCaption {
    margin: 0;
    order: 2;
    width: 100%;
  }
}
