.productCard {
  border-radius: var(--br-lg);
  display: flex;
  height: 400px;
  margin: var(--space-xl) auto;
  max-width: 1000px;
  padding: 0 var(--space-sm);
  position: relative;
}

.imgWrapper {
  border: 1px solid var(--grey-1);
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  border-right: none;
  max-width: 450px;
  width: 100%;
}

.productImage {
  border-radius: var(--br-lg) 0 0 var(--br-lg);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.cardDiscount {
  font-size: var(--fs-xs-1);
}

.detailsWrapper {
  border: 1px solid var(--grey-1);
  border-left: none;
  border-radius: 0 var(--br-lg) var(--br-lg) 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-sm);
  width: 100%;
}

.title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.vendor {
  color: var(--grey-4);
  font-size: var(--fs-xs-2);
}

.description {
  font-size: var(--fs-xs-2);
  margin-top: var(--space-xs);
}

.categoryWrapper {
  display: flex;
  margin: var(--space-xxs) 0;
  width: 100%;
}

.category {
  margin: 0 var(--space-xxs) 0 0;
  padding: var(--space-xxxs) var(--space-xxs);
}

.btnsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  width: clamp(150px, 100%, 300px);
}

.CartbtnsWrapper {
  display: flex;
  gap: var(--space-xxs);
}

.buyButton {
  align-items: center;
  display: flex;
  font-size: var(--fs-sm-1);
  gap: var(--space-xxs);
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

.cardPrice {
  font-size: var(--fs-sm-1);
  margin: var(--space-sm) 0;
}

.cardNewPrice {
  color: var(--danger);
  font-size: var(--fs-lg-2);
  margin-left: var(--space-xxs);
}

.ratingAndPriceWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.rating {
  align-items: center;
  background-color: var(--success);
  border-radius: var(--br-xxs);
  color: white;
  display: flex;
  font-size: var(--fs-xs-1);
  gap: var(--space-xxxs);
  padding: var(--space-xxxs) var(--space-xxs);
  width: fit-content;
}

.ratingStar {
  height: 15px;
  width: 15px;
}

.wishlistBtn {
  padding: var(--space-xxs) var(--space-xs);
}

.wishlistIcon {
  height: 20px;
  width: 20px;
}

.cardBadge {
  left: initial;
  right: 35px;
}

.badgeIconWidth {
  width: 50px;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 768px) {
  .badgeIconWidth {
    height: 50px;
    width: 40px;
  }
}
@media screen and (max-width: 640px) {
  .productCard {
    flex-direction: column;
    height: 100%;
  }

  .detailsWrapper {
    border: 1px solid var(--grey-1);
    border-top: none;
    border-radius: 0 0 var(--br-lg) var(--br-lg);
  }

  .imgWrapper {
    border: 1px solid var(--grey-1);
    border-bottom: none;
    border-radius: var(--br-lg) var(--br-lg) 0 0;
  }

  .productImage {
    border-radius: var(--br-lg) var(--br-lg) 0 0;
  }

  .imgWrapper {
    height: 200px;
    max-width: 640px;
  }

  .badgeIconWidth {
    height: 40px;
    width: 30px;
  }

  .cardDiscount {
    font-size: var(--fs-xxs-2);
    top: 2px;
  }
}
