.sidebarCloseBtn {
  border-radius: var(--br-full);
  height: 40px;
  left: 275px;
  padding: 1rem;
  position: fixed;
  top: 5px;
  width: 40px;
}

.sidebarTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: var(--space-xl) auto;
  width: 100%;
}

.sidebarItemTitle {
  margin: var(--space-md) 0 var(--space-xxs);
}

.priceLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.radioItem {
  display: flex;
}

.sidebarBackdrop {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

.sidebarCloseBtn {
  border-radius: var(--br-full);
  height: 40px;
  left: 275px;
  padding: 1rem;
  position: fixed;
  top: 5px;
  width: 40px;
}
