.cardBody {
  justify-self: center;
  width: 250px;
}

.cardImgAdjustment {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.badgeIconWidth {
  width: 50px;
}

.cardDiscount {
  font-size: var(--fs-xxs-2);
}

.cardTitleWrapper {
  padding-bottom: 0;
  padding: var(--space-xs);
  text-align: center;
}

.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardContent {
  padding: 0;
}

.cardPrice {
  text-align: center;
}

.cardNewPrice {
  margin-left: var(--space-xxs);
}

.iconButton {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: var(--br-full);
  box-shadow: none;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0;
  width: 40px;
}

.iconButton:hover {
  background-color: black;
  transition: 0.2s ease-in;
}

.cardFooter {
  border-top: none;
  padding: 0;
}

.cardFooterRight {
  gap: 5px;
  position: absolute;
  right: 5px;
  top: 200px;
}

.cardFooterLeft {
  border-right: none;
  display: flex;
  flex-direction: column;
}

.cardFooter .buyBtn {
  border-radius: 0;
  padding: var(--space-xxs) var(--space-xs);
}

.removeBtn {
  border-radius: 0;
  border-bottom-left-radius: var(--br-sm);
  border-bottom-right-radius: var(--br-sm);
  width: 100%;
}

.rating {
  align-items: center;
  background-color: var(--success);
  border-radius: var(--br-xxs);
  color: white;
  display: flex;
  flex-shrink: 0;
  font-size: var(--fs-xs-1);
  gap: var(--space-xxxs);
  padding: var(--space-xxxs) var(--space-xxs);
  width: fit-content;
}

.ratingStar {
  height: 15px;
  width: 15px;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 720px) {
  .badgeIconWidth {
    height: 40px;
    width: 30px;
  }

  .cardDiscount {
    font-size: var(--fs-xxs-2);
    top: 2px;
  }
}

@media screen and (max-width: 640px) {
  .cardBody .cardNewPrice {
    font-size: var(--fs-sm-2);
  }

  .cardPrice {
    font-size: var(--fs-xs-1);
  }
}
