.app {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  padding: var(--space-sm) 10%;
  width: 100%;
}

.seeAllGames {
  display: flex;
  justify-content: center;
  margin-top: var(--space-xl);
}

.toast {
  font-size: var(--fs-xs-1);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 640px) {
  .main {
    padding: var(--space-sm) var(--space-sm);
  }
}
