@import url("https://vispaui-postdev-deploy.netlify.app/css/main.css");
/*
***************** GLOBAL STYLING *****************
*/

:root {
  --primary-theme-color: #001219;
  --secondary-theme-color: white;
  --secondary-theme-background: white;
}

html {
  color: var(--dark);
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}

body {
  align-items: center;
  background-color: var(--secondary-theme-color);
  color: var(--primary-theme-color);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
}

.dark-mode {
  --primary-theme-color: white;
  --secondary-theme-color: #001219;
  --secondary-theme-background: var(--dark);
}
