.table {
  margin: var(--space-md) auto;
  width: fit-content;
}

.tableRow {
  border-bottom: 1px solid #ddd;
}

.tableData {
  font-size: var(--fs-sm-1);
  padding: var(--space-xxs) var(--space-sm);
}

.heading {
  font-weight: var(--fw-6);
  text-decoration: underline;
}
