.horizontalCard {
  border-top: 1px solid var(--grey-1);
  display: flex;
  gap: var(--space-sm);
  padding: var(--space-sm);
  position: relative;
  width: 100%;
}

.horizontalCard:last-child {
  border-bottom: 1px solid var(--grey-1);
}

.myItemImage {
  border-radius: var(--br-sm);
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.imageWrapper {
  width: 250px;
}

.cardBody {
  align-items: center;
  color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  justify-content: flex-start;
  width: 100%;
}
.cardTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  justify-content: center;
  width: clamp(150px, 100%, 250px);
}

.cardTitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: var(--fs-sm-2);
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardTitle:hover {
  text-decoration: underline;
}

.cardContentNewprice {
  color: var(--danger);
  font-size: var(--fs-md-2);
}

.buttonsWrapper {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: var(--space-xxs);
  margin-left: auto;
}

.cardButtonWrapper {
  align-items: center;
  background-color: var(--blue-1);
  border-radius: var(--br-xs);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  padding: var(--space-xxs);
  width: fit-content;
}

.cardBadge {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 11px;
  width: 50px;
  z-index: 2;
}

.cardBadge > img {
  height: 50px;
  width: 50px;
}

.cardDiscount {
  font-size: var(--fs-xxs-2);
  top: 0;
}

.newPrice {
  color: var(--danger);
  font-size: var(--fs-md-2);
  margin-left: var(--space-xxs);
}

.wishlistBtn {
  background-color: initial;
  border-radius: var(--br-xxs);
  border: 2px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  font-size: var(--fs-xs-2);
  padding: var(--space-xxxs) var(--space-xs);
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
  width: fit-content;
}

.wishlistBtn:hover {
  background-color: var(--primary);
  color: white;
}

.shareCartBtn {
  margin: var(--space-lg) 0;
  width: 100%;
}

.shareCartBtn > img {
  margin-right: var(--space-xs);
}

.quantityButton {
  align-items: center;
  background-color: initial;
  border-radius: var(--br-full);
  box-shadow: none;
  color: var(--dark);
  display: flex;
  font-size: var(--fs-md-2);
  height: 25px;
  justify-content: center;
  padding: 0rem;
  width: 25px;
}

.disabledBtn {
  cursor: not-allowed;
}

.quantityValue {
  font-size: var(--fs-sm-1);
  font-weight: var(--fw-6);
}

.deleteBtn {
  background-color: initial;
  border: none;
  cursor: pointer;
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 720px) {
  .cardDiscount {
    font-size: var(--fs-xxs-2);
    top: 2px;
  }
}

@media screen and (max-width: 680px) {
  .cardBody {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .buttonsWrapper {
    margin: 0;
  }
}
