.horizontalCard {
  background-color: white;
  border-radius: var(--br-xl);
  box-shadow: var(--bs-xs);
  display: flex;
  position: relative;
  width: 100%;
}

.horizontalCard:hover {
  box-shadow: var(--bs-sm);
  transition: 0.2s ease-in;
}

.myItemImage {
  border-bottom-left-radius: var(--br-xl);
  border-top-left-radius: var(--br-xl);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.cardBody {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm);
  width: 100%;
}

.cardTitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 23vw;
}

.cardContentNewprice {
  color: var(--danger);
  font-size: var(--fs-md-2);
}

.cardButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin-top: auto;
}

.cardBadge {
  left: 20px;
  position: absolute;
  top: -5px;
  width: 50px;
  z-index: 2;
}

.newPrice {
  color: var(--danger);
  font-size: var(--fs-md-2);
  margin-left: var(--space-xxs);
}

.topItemButton {
  flex: 1;
  margin: 0px;
}

.shareCartBtn {
  margin: var(--space-lg) 0;
  width: 100%;
}

.shareCartBtn > img {
  margin-right: var(--space-xs);
}

.quantityButton {
  align-items: center;
  background-color: var(--primary);
  border-radius: var(--br-full);
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  padding: 0rem;
  width: 25px;
}

.disabledBtn {
  background-color: var(--grey-2);
  cursor: not-allowed;
}

.quantityValue {
  font-size: var(--fs-sm-1);
  font-weight: var(--fw-6);
}

/*
***************** MEDIA QUERIES *****************
*/
@media screen and (max-width: 680px) {
  .horizontalCard {
    flex-direction: column;
    height: initial;
  }

  .myItemImage {
    border-radius: 0;
    border-top-left-radius: var(--br-xl);
    border-top-right-radius: var(--br-xl);
    height: 250px;
    width: 100%;
  }

  .cardTitle {
    width: 100%;
  }
}
