.carousel {
  background-color: var(--light);
  border-radius: var(--br-md);
  display: flex;
  gap: var(--space-sm);
  height: 120px;
  margin-top: var(--space-md);
  overflow-x: scroll;
  padding: var(--space-sm);
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}

.productsHeading {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-xl);
}

.carousel::-webkit-scrollbar {
  border-radius: var(--br-full);
  width: 3px;
}

.carousel:hover.carousel::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: var(--br-full);
}
